<mat-card>
  <div class="separator">Tabla personal</div>
  <div class="table-responsive">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8 w-100"
    >
      <ng-container matColumnDef="idPersonal">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          id="idPersonal"
          style="text-align: center"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let element">{{ element.idPersonal }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreCompleto">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          id="nombreCompleto"
          style="text-align: center; overflow: hidden"
        >
          Nombre Completo
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombreCompleto }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fchNac">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          id="FchNac"
          style="text-align: center; overflow: hidden"
        >
          Fecha nacimiento
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fchNac | date: "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fchIngreso">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          id="FchIngreso"
          style="text-align: center; overflow: hidden"
        >
          Fecha ingreso
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fchIngreso | date: "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          id="Acciones"
          style="text-align: center; overflow: hidden"
        >
          Acciones
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            title="Editar personal"
            (click)="setSelectPersonal(element)"
          >
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-button
            title="Ver hijos"
            (click)="openShowHijoDialog(element)"
          >
            <mat-icon color="accent">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
